{% extends "base.html" %}
{% block conteudo %}
<div class="box">
  <h2>Bem-vindo(a), {{ prof.nome }}</h2>
  <p><b>Curso:</b> {{ prof.curso }}</p>
  <p><b>Matéria:</b> {{ prof.materia }}</p>

  <h3>Lançar Notas</h3>
  {% if erro %}<p class="erro">{{ erro }}</p>{% endif %}
  {% if sucesso %}<p class="sucesso">{{ sucesso }}</p>{% endif %}
  <form method="post">
    <p>RA do aluno:<br><input name="ra_aluno" required></p>
    <p>NP1:<br><input type="number" step="0.1" name="np1" required></p>
    <p>NP2:<br><input type="number" step="0.1" name="np2" required></p>
    <p>PIM:<br><input type="number" step="0.1" name="pim" required></p>
    <button type="submit">Lançar Notas</button>
  </form>
  <p><a href="/">Sair</a></p>
</div>
{% endblock %}
